.PostItem {
    padding: 10px;
    text-align: left;
    position: absolute;
    
}

.AddPhotoItem {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%
}

.PhotoItem {
    position: absolute;
    background-color: bisque;
    height: 100%;
    width: 100%
}

.NavLinkText {
    position:relative;
    color: rgb(57, 55, 55);
    background-color: white;
    text-decoration-line: none;
    border-radius: 4px;
    padding: 3px;
    margin: 0% 0% 2% 2%;
    font-size: 22px;
    

    
}

.PostItemContainer {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-end;
    height: 350px;
    width: 100%;
    border: 0.5px solid;
    background-color:rgb(243, 242, 242);
    border-color: black;
    justify-self: start;
    
    max-width: 650px;
    max-height: 500px;
    box-shadow: 2.5px 1.5px 6px rgb(57, 55, 55);
    
}

/* .Title {

    display: flexbox;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    /* padding-right: 1250px; */
    /* padding-top: 5px;
} */

/* .PostHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.PageHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.05fr 0.25fr;
    

    padding-bottom: 25px;
    
    align-items: center;
}

.bannerPhoto {
    display:grid;
    width: 100%;
    height: 525px;
    
    border-bottom: solid black 1px;
   
    grid-column-start: 2;
    grid-column-end: 8;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.PostsHolderContainer{
    width: 100%;
    display:grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10%;
}

.PostsAreaHolder{
    grid-column-start: 2;
    grid-column-end: 8;
    align-items: center;
    /* text-decoration: underline solid black; */
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-bottom: solid 2px black;
    
}




/* .PageHolder {
    margin-bottom: 100px;
} */

/* FIX THE BOTTOM OF THE PAGE NOT BEING SO TIGHT */

