.PostItem {
    padding: 10px;
    text-align: left;
    position: absolute;
}

.PhotoItem {
    background-color: bisque;
    height: 100%;
    width: 100%
}
.NavLinkText {
    
    color: rgb(57, 55, 55);
    text-decoration: none;
}

.PostItemContainer {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 650px;
    border: 0.5px solid;
    background-color:rgb(243, 242, 242);
    border-color: black;

    margin: 25px;
    max-width: 650px;
    max-height: 500px;
    box-shadow: 2.5px 1.5px 2px rgb(57, 55, 55);
    
}

.Title {
    display: flexbox;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid black;
}

.PostHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

