.LoginFormContainer {
    display: flex;
    flex-direction: column;
}

.EmailInput {
    width: 350px;

}

.PasswordInput {
    width: 350px;

}

.LoginButton {
    margin: 15px 0px 0px 0px;
    width: 95.5px;
    border: 0.5px solid black;
    background-color: rgb(69, 226, 160);
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.InputTitle {
    border-bottom: 0.5px solid black;
    margin: 5px 0px 5px 0px;
}

.LoginTitle {
    border-bottom: 0.5px solid black;
    font-size: 32px;
    margin: 0px 0px 20px 0px;
}