.NavContainer {
    display: flex;
    /* justify-content: space-between; */
    padding: 0px;
    margin: 5px 5px 10px 5px;
    align-items: center;
    border-bottom: solid black 3px;
    justify-content: space-between;


}
.Title {

    display: flex;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    /* padding-right: 1250px; */
    padding-top: 5px;
    justify-self: start;
    padding-left: 200px;
    font-size: 30px;
}

.NavButtonGroupRight {
    display: flex;
    height: 33px;
    width: 300px;
    justify-content: end
}

.HomeLogo {
    height: 70px;
    width: 90px;
}

.HomeLogoPhoto{
    height: 70px;
    width: 90px;
}

.NavButtonDiv {
    
    padding: 6px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(33, 39, 56);
    border: 1px solid black;
    border-radius: 0.25px;
    cursor: pointer;
    /* opacity: 0.45; */
}
.NavButtonDiv:hover {
    opacity: 1;
    box-shadow: 0px 4px 2px rgb(69, 226, 160)
}

.NavButtonDivLogOut {
    padding: 5px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(33, 39, 56);
    cursor:pointer;
    border: 1px solid black;
    border-radius: 0.25px;
    /* opacity: 0.45; */
}

.LogoutButton {
    background-color: rgb(33, 39, 56);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.NavButtonDivLogOut:hover {
    opacity:1;
    box-shadow: 0px 4px 2px rgb(69, 226, 160)
}

.NavButton {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    
    
}


