@font-face {
    font-family: MyriadPro-Cond;
    src: url(../CSS/fonts/MYRIADPRO-COND.OTF);
}


@font-face {
    font-family: MyriadPro;
    src: url(../CSS/fonts/MYRIADPRO-REGULAR.OTF);
}


.Left-Nav-Container{
    display: flex;
    margin-bottom: 0.25em;
}

.NavContainer {
    display: flex;
    padding: 0px;
    align-items: center;
    white-space: nowrap;
}

.Title-Container{
    display: flex;
    height:auto;
    width: auto;
    align-items: center;
}

.Title {
    display: flex;
    font-size: 2em;
    font-weight: 900;
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
    justify-self: start;
    padding-top: 0.25em;
    
}

.Right-Nav-Container {
    display: flex;
    height: 33px;
    width: 100%;
    justify-content: flex-end;
}

.HomeLogo {
    height: 5vh;
    width: 4vw;
}

.HomeLogoPhoto{
    height: 5vh;
    width: 4vw;
}

.NavButtonDiv {
    padding: 6px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0px 0.5em 0px 0.5em; */
    height:3vh;
    width:4vw;
    color: black;
    border-radius: 0.25px;
    cursor: pointer;
    background-color: white;
}
.NavButtonDiv:hover {
    opacity: 1;
    box-shadow: 1px 4px 2px rgb(69, 226, 160)
}

.NavButtonDivLogOut:hover {
    opacity:1;
    box-shadow: 0px 4px 2px rgb(69, 226, 160)
}

.NavButton {
    text-decoration: none;
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
    font-size: 1.35em;
    color: black;
    background-color: white;
    border: none;
}


