.NavContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: 5px;
}

.NavButtonDiv {
    padding: 6px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(194, 194, 194);
    border: 1px solid black;
    border-radius: 0.25px;
    opacity: 0.45;
}
.NavButtonDiv:hover {
    opacity: 1;
}

.NavButtonDivLogOut {
    padding: 5px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(194, 194, 194);
    border: 1px solid black;
    border-radius: 0.25px;
    opacity: 0.45;
    
    
    
}
.NavButtonDivLogOut:hover {
    opacity:1;
}

.NavButton {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 38, 38);
    
    
}


