@font-face {
    font-family: MyriadPro-Cond;
    src: url(../CSS/fonts/MYRIADPRO-COND.OTF);
}


@font-face {
    font-family: MyriadPro;
    src: url(../CSS/fonts/MYRIADPRO-REGULAR.OTF);
}

.Banner-Container {
    height: 100%;
    width: 100%;
    position: relative
}

 

.Banner-Actual-Photo {
    width: 100%;
    height: 45vh;
    
    object-fit: cover;
    

}
.Scroll-Dots {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow: 0 2px 2px rgb(0 0 0 / 95%);
  }
  .Scroll-Dots:active, .Scroll-Dots:hover {
    background-color: #fff;
  }


 

.Banner-Information-Container{ 
    max-width: 100%;
    height: 35vh;
    min-height: 400px;
    /* background-color: rgb(152, 152, 152); */
    color: #fff;
    position: absolute;
}

.Info-Card-Positioner{
    display:flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    

}

.Information-Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
    width: 50vh;
    /* color: #fff;                    UNCOMMENT AND CHANGE TO WHITE WHEN PHOTOS ADDED */
    text-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    height: 50%;
    /* padding-left: 250px;           
    padding-right: 250px;            
    padding-top: 150px;              
    padding-bottom: 25px;         */
}

.InfoCard-Title{
    width: 50vw;
    font-size: 70px;
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
    text-shadow: 0 4px 4px rgb(0 0 0 / 55%);
    
}


.Info-Card-Description{
    width: 30vw;
    font-family: "MyriadPro";
    text-shadow: 0 4px 4px rgb(0 0 0 / 55%);
}



.Dot-Scroll-Wheel{
    display: flex;
    padding-top: 5px;     /*      TURN THESE TO PERCENTAGES FOR DYNAMIC FEEL       */
    padding-left: 10vw;  /*      TURN THESE TO PERCENTAGES FOR DYNAMIC FEEL       */
}

.Scroll-Dots{

}

.Home-Content-Container{
    display: flex;
    max-width: 1720px;        /* MAKE MEDIA MAXWIDTH 1720px*/
    margin-right: 2.5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    justify-content: center;
}
.Home-Content-Text-Wrap{
    margin: auto;
    display: flex;    
}

.Content-Container{
    margin-right: 5vw;
    max-width: 434px;
}

.Container-Topic{
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
}

.Container-Paragraph{
    font-family: "MyriadPro";
    font-size: 18px;
}

.Explore-Beginning{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.Explore-Title{
    margin-bottom: 30px;
    font-size: 34px;
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
    font-weight: 1000;
}

.Explore-Area{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.Explore-Area{

} 
.PostsHolderContainer{
    display: flex;
}

.PostItemContainer{
    height: 30vh;
    width: 10vw;
    min-width: 306px;  
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.NavLinkHolder{
    width: 100%;
    color: rgb(57, 55, 55);
    background-color: white;    
} 

.NavLinkParagraphText{
    height:100%;
    width: 100%;
}

.NavLinkTitleText{
    margin-left: 20px;
    margin-top: 10px;
    font-family: "MyriadPro";
    font-weight: 900;

} 

.PhotoItemHolder {
    height: 30vh;
    width: 10vw;
}

.PhotoItem {
    border-bottom: 1px solid rgb(210, 210, 210);
    width:100%;
    height: 80%;
    
}

.AddPhotoItem{
    border-bottom: 1px solid rgb(210, 210, 210);
    width:306px;
    height: 80%;

}