@font-face {
    font-family: MyriadPro-Cond;
    src: url(../CSS/fonts/MYRIADPRO-COND.OTF);
}

@font-face {
    font-family: MyriadPro;
    src: url(../CSS/fonts/MYRIADPRO-REGULAR.OTF);
}

.Banner-Container {
    height: 100%;
    width: 100%;

}

 .Banner-Photo-Div{
    max-width: 1634px;
    height: 100%;
    background-color: blanchedalmond;
} 


 

.Banner-Information-Container{ 
    max-width: 1634px;
    height: 35vh;
    min-height: 400px;
    background-color: blanchedalmond;
}
 

.Information-Card{
    width: 50%;
    height: 25%;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.InfoCard-Title{
    width: 50vw;
    font-size: 48px;
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
    
}


.Info-Card-Description{
    width: 30vw;
    font-family: "MyriadPro";
}



.Dot-Scroll-Wheel{
    display: flex
}

.Scroll-Dots{

}

.Home-Content-Container{
    display: flex;
    
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}

.Content-Container{

}

.Container-Topic{
    font-family: "MyriadPro-Cond",Helvetica,Arial,sans-serif;
}

.Container-Paragraph{
    font-family: "MyriadPro";
}
/*
.Explore-Beginning{

}

.Explore-Title{

}

.Explore-Area{

}

.Explore-Area{

} */