@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(../CSS/fonts/RobotoCondensed-Regular.ttf);
}

.Post {
    height: auto;
    width: auto;
}

.Post-Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100vw;
}

.Post-Title-Container {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 30em;
}

.Post-Title-Container-Text {
    font-family: RobotoCondensed-Regular;
    height: auto;
    width: auto;
    font-size: 4.5vh;
    font-weight: 1000;

}

.Post-Container {
    display:flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}


.Post-Container-Photo {
    height: 100%;
    width: 75%;
    border-radius: 1px solid rgb(185, 185, 185);
}

.Author-Section{
    display: flex;
    justify-content: center;
    height: 18vh;
    width: 100vw
}

.Author-Info-Center {
    background-color: rgb(245, 235, 235);
    box-shadow: 0px 0px 5px 0.5px;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 3px;
    display: flex;
    height: 65%;
    width:33%;
    margin: 2vh;
}

.Author-Picture-Container{
    display:flex;
    align-items: center;
    height:100%;
    width:16.6666666%
}

.Author-Picture{
    height: 8vh;
    width: 7vh;
    margin:0.5vw;
    border-radius: 4vw;
}

.Author-Post-Info{
    font-family: RobotoCondensed-Regular;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: auto;
}

.Author-Name{
    font-size: 19px;
    color:rgb(38, 134, 0);
    text-decoration: underline;
}

.Info-Center-Row {
    display:flex;
    justify-content: space-around;
    height: 2vh;
    width: 20vw;
    margin: 1vh 0 1.25vh 0;
}

.Likes-Numeric {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 1.5vw;
    color: rgb(97, 86, 255);
}

.Comment-Button{
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    border:none;
    width:7vw;
    height: 100%;
    cursor: pointer;
}

.Like-Button{
    font-family: RobotoCondensed-Regular;
    display: inline;
    border: none; 
    width: 6vw;
    height: 100%;
    cursor: pointer;
    margin-right: 1em;
}

.LikeButtonImage{
    display: inline;
    width: 1vw;
    height: 1.5vh;
    margin-right: 0.5vw;
}

.Like-Button-Text{
    display: inline;
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    color: rgb(170, 23, 255);
}

.postDeleteBtn {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    height: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.postEditBtn {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    height: 100%;
    margin: 0px 0px 0px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.See-More-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.See-More-Button{
    display: flex;
    align-items: center;
    align-items: center;
    height: 8vh;
    width: 7vw;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.863);
    margin: auto;
    cursor: pointer;
}
.See-More-Button-Text{
    font-family: RobotoCondensed-Regular;
    text-align: center;
    margin: 1.50%;
    word-break: normal;
    font-size: 19px;    
    color: white;
}

.Instructions-Banner-Container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:5vh;
    width: 100vw;
}

.Instructions-Header{
    display: flex;
    justify-content: center;
    font-family: RobotoCondensed-Regular;
    height: 5vh;
    width: 33vw;
    font-size: 50px;
    text-decoration: underline solid black 3px
}

.Instruction-Container{
    display: flex;
    justify-content: center;
    height: auto;
    width:100vw;
    
}

.Instructions-TextBody {
    overflow-wrap:break-word;
    height: 100%;
    width: 66vw;
    font-size: 1.5em;
    text-indent: 2em;
    padding-bottom: 1em;
    border-bottom: 1.75px solid black;
}

.AddCommentsDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    border-bottom: solid black 2px ;
    margin-bottom: 15px;
    width: 48%
}

.CommentSection {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.Comment-Banner {
    height:100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Comment-Numeric {
    font-family: RobotoCondensed-Regular;
    font-weight: 700;
    font-size: 2em;
    text-decoration: underline 3px solid black;
}

.Comment-Creation-Area{
    display: flex;
    justify-content: center;
    margin-bottom:3vh ;
}

.Comment-Creator-Container {
    display: flex;
    height: 17vh;
    background-color: rgb(245, 235, 235);
    box-shadow: 0px 0px 3px 1px;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 3px;
}

.Commenter-Profile-Section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 5vw
}

.Commentor-Profile-Picture {
    margin-top: 1vh;
    height: 6vh;
    width: 3.5vw;
    border-radius: 4vw;
    border: 1px solid black;
    
}

.Comment-Form {
    display:inline;
}

.Comment-Form-Upper {
    height: 75%;
    width: 36.5vw;
}

.Comment-Input {
    margin: 1vh 0.5vh 1vh 0.5vh;
    height: 11vh;
    width: 35vw;
    border: 1px solid black;
    box-shadow: 0vh 0vh 2px 0;
}

.Comment-Form-Lower {
    display: flex;
    justify-content: end;
    height:25%;
    width:100%;
}

.Submit-Comment-Button {
    height:2.5vh;
    width: 10vw;
    border: 1.75px solid black;
    background-color:rgb(69, 226, 160);
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px black;
    cursor: pointer;
    margin: 1vh 1.5vh 0vh 0vh;
    font-size: 18px;
    font-family: RobotoCondensed-Regular;
}


.AddCommentTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
}





.SingleComment {
    width: 558px
}

.SingleCommentText {
    border: 1px solid rgb(133, 133, 133);
    width: 558px;
    height: 100px;
    box-shadow: 0.25px 0.25px 1px rgb(110, 110, 110);
    font-size: 16px;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 2px 2px 3px black;
    margin: 0px 0px 5px 0px;
}

.AddCommentForm {
    margin: 20px 0px 0px 0px;
    
}

.InstructionsDiv {
    margin: 5px 0px 15px 0px;
    font-size: 30px;
    border-bottom: 0.5px solid black;
}

/* FIGURE OUT WHAT THIS WAS USED FOR */
/* .delBtn {
    height:100%;
    border: none;
    background-color:rgb(179, 179, 179);
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 50px black;
    cursor: pointer;
} */

.PostButtonsForAdmin{
    display:flex;
}

.CommenterName{
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

