@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(../CSS/fonts/RobotoCondensed-Regular.ttf);
}

.Post {
    height: auto;
    width: auto;
}

.Post-Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    height: 9vh;
    width: 100vw;
}

.Post-Title-Container {
    /* background-color: blue; */
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 30em;
}

.Post-Title-Container-Text {
    /* background-color: red; */
    font-family: RobotoCondensed-Regular;
    height: auto;
    width: auto;
    font-size: 4vh;
}

.Post-Container {
    /* background-color: Green; */
    display:flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}


.Post-Container-Photo {
    height: 100%;
    width: 75%;
    border-radius: 1px solid rgb(185, 185, 185);
}

.Author-Section{
    
    display: flex;
    justify-content: center;
    height: 18vh;
    width: 100vw
}

.Author-Info-Center {
    background-color: rgb(245, 235, 235);
    box-shadow: 0px 0px 5px 0.5px;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 3px;
    display: flex;
    height: 65%;
    width:33%;
    margin: 2vh;
}

.Author-Picture-Container{
    display:flex;
    align-items: center;
    height:100%;
    width:16.6666666%
}

.Author-Picture{

    /* background-color: rgb(200, 200, 200); */
    height: 8vh;
    width: 7vh;
    margin:0.5vw;
    border-radius: 4vw;
}

.Author-Post-Info{
    font-family: RobotoCondensed-Regular;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: auto;

}

.Author-Identifier{

}

.Author-Name{
    font-size: 19px;
    color:rgb(38, 134, 0);
    text-decoration: underline;
}

.Info-Center-Row {
    /* background-color: rgb(187, 187, 187); */
    display:flex;
    justify-content: space-around;
    height: 2vh;
    width: 20vw;
    margin: 1vh 0 1.25vh 0;
}

.Likes-Numeric {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 1.5vw;
    color: rgb(97, 86, 255);
}

.Comment-Button{
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    border:none;
    /* background-color: rgb(179, 179, 179); */
    width:7vw;
    height: 100%;
    cursor: pointer;
}

.Like-Button{
    font-family: RobotoCondensed-Regular;
    display: inline;
   /* background-color: rgb(179, 179, 179); */
   border: none; 
   width: 6vw;
   height: 100%;
   cursor: pointer;
   margin-right: 1em;
    
}

.LikeButtonImage{
    display: inline;
    width: 1vw;
    height: 1.5vh;
    margin-right: 0.5vw;
    
}

.Like-Button-Text{
    display: inline;
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    color: rgb(170, 23, 255);
}

.postDeleteBtn {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    height: 100%;
    border: none;
    /* background-color:rgb(179, 179, 179); */
    border-radius: 3px;
    cursor: pointer;

}

.postEditBtn {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    height: 100%;
    margin: 0px 0px 0px 10px;
    border: none;
    /* background-color:rgb(179, 179, 179); */
    border-radius: 3px;
    cursor: pointer;
}

.See-More-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.See-More-Button{
    display: flex;
    align-items: center;
    align-items: center;
    height: 8vh;
    width: 7vw;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.863);
    margin: auto;
    cursor: pointer;
}
.See-More-Button-Text{
    font-family: RobotoCondensed-Regular;
    text-align: center;
    margin: 1.50%;
    word-break: normal;
    font-size: 19px;    
    color: white;
}

.TextBody {
    margin: 0px 0px 25px 0px;
    width: 1100px
}

.FillImage {
    height: 100%;
    width: 100%;
}

.AddCommentsDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    border-bottom: solid black 2px ;
    margin-bottom: 15px;
    width: 48%
}

.CommentSection {
    width: 1200px;
    margin: 0px 0px 0px 10px;

}

.CommentForm {
    display: flex;
    flex-direction: column;   
}

.AddCommentTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
}

.CommentInput {
    height: 100px;
    width: 550px;
}

.SubmitCommBtn {
    margin: 15px 0px 0px 0px;
    width: 139.5px;
    border: 0.5px solid black;
    background-color:rgb(69, 226, 160);
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.SingleComment {
    width: 558px
}

.SingleCommentText {
    border: 1px solid rgb(133, 133, 133);
    width: 558px;
    height: 100px;
    box-shadow: 0.25px 0.25px 1px rgb(110, 110, 110);
    font-size: 16px;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 2px 2px 3px black;
    margin: 0px 0px 5px 0px;
}

.AddCommentForm {
    margin: 20px 0px 0px 0px;
    
}

.InstructionsDiv {
    margin: 5px 0px 15px 0px;
    font-size: 30px;
    border-bottom: 0.5px solid black;
}

/* FIGURE OUT WHAT THIS WAS USED FOR */
/* .delBtn {
    height:100%;
    border: none;
    background-color:rgb(179, 179, 179);
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 50px black;
    cursor: pointer;
} */

.PostButtonsForAdmin{
    display:flex;
}

.CommenterName{
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

