@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(../CSS/fonts/RobotoCondensed-Regular.ttf);
}

.Post {
    height: auto;
    width: auto;
}

.Post-Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100vw;
}

.Post-Title-Container {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 30em;
}

.Post-Title-Container-Text {
    font-family: RobotoCondensed-Regular;
    height: auto;
    width: auto;
    font-size: 4.5vh;
    font-weight: 550;
    white-space: nowrap

}

.Post-Container {
    display:flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}


.Post-Container-Photo {
    object-fit: cover;
    height: 100%;
    width: 75%;
    border-radius: 1px solid rgb(185, 185, 185);
}

.Author-Section{
    display: flex;
    justify-content: center;
    height: 18vh;
    width: 100vw
}

.Author-Info-Center {
    background-color: rgb(245, 235, 235);
    border: 1px solid rgb(179, 178, 178);
    border-radius: 3px;
    display: flex;
    height: 65%;
    width:33%;
    margin: 2vh;
}

.Author-Picture-Container{
    display:flex;
    align-items: center;
    height:100%;
    width:16.6666666%
}

.Author-Picture{
    height: 8.5vh;
    width: 8.5vh;
    margin:0.5vw 0.5vw 0.5vw 1vw;
    border-radius: 50%;

}

.Author-Post-Info{
    font-family: RobotoCondensed-Regular;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: auto;
}

.Author-Name{
    font-size: 19px;
    color:rgb(38, 134, 0);
    text-decoration: underline;
}

.Info-Center-Row {
    display:flex;
    justify-content: space-around;
    height: 2vh;
    width: 20vw;
    margin: 1vh 0 1.25vh 0;
}

.Likes-Numeric {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 1.5vw;
    color: rgb(97, 86, 255);
}

.Comment-Button{
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    border:none;
    width:7vw;
    height: 100%;
    cursor: pointer;
}

.Liked-Button{
    font-family: RobotoCondensed-Regular;
    display: inline;
    border: none; 
    width: 6vw;
    height: 100%;
    cursor: pointer;
    margin-right: 1em;
}

.LikeButtonImage{
    display: inline;
    width: 1.1vw;
    height: 1.8vh;
    margin-right: 0.5vw;
}

.Like-Button-Text{
    display: inline;
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    color: rgb(170, 23, 255);
}

.postDeleteBtn {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    height: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.postEditBtn {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    height: 100%;
    margin: 0px 0px 0px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.See-More-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.See-More-Button{
    display: flex;
    align-items: center;
    align-items: center;
    height: 8vh;
    width: 6vw;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.863);
    margin: auto;
    cursor: pointer;
}
.See-More-Button-Text{
    font-family: RobotoCondensed-Regular;
    text-align: center;
    margin: 1.50%;
    word-break: normal;
    font-size: 19px;    
    color: white;
}

.Instructions-Banner-Container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:5vh;
    width: 100vw;
}

.Instructions-Header{
    display: flex;
    justify-content: center;
    font-family: RobotoCondensed-Regular;
    height: 5vh;
    width: 33vw;
    font-size: 4vh;
    text-decoration: underline solid black 3px
}

.Instruction-Container{
    display: flex;
    justify-content: center;
    height: auto;
    width:100vw;
    
}

.Instructions-TextBody {
    overflow-wrap:break-word;
    height: 100%;
    width: 66vw;
    font-size: 1.5em;
    text-indent: 2em;
    padding-bottom: 1em;
    border-bottom: 1.75px solid rgb(110, 110, 110);
}

.AddCommentsDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    border-bottom: solid black 2px ;
    margin-bottom: 15px;
    width: 48%
}

.Comment-Section{

}

.Comment-Banner {
    height:100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Comment-Numeric {
    font-family: RobotoCondensed-Regular;
    font-weight: 700;
    font-size: 2em;
    text-decoration: underline 3px solid black;
}

.Comment-Creation-Area{
    display: flex;
    justify-content: center;
    margin:3vh 0vw 3vh 0vw;
}

.Comment-Creator-Container {
    display: flex;
    height: 17vh;
    background-color: rgb(245, 235, 235);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
}

.Commenter-Profile-Section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 5vw
}

.Commentor-Profile-Picture {
    margin-top: 1vh;
    height: 6vh;
    width: 3.5vw;
    border-radius: 4vw;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 0vh 0vh 0.25vh;
}

.Comment-Form {
    display:inline;
}

.Comment-Form-Upper {
    height: 75%;
    width: 36.5vw;
}

.Comment-Input {
    margin: 1vh 0.5vh 1vh 0.5vh;
    height: 11vh;
    width: 35vw;
    border: 1px solid rgb(179, 179, 179);
    
}

.Comment-Form-Lower {
    display: flex;
    justify-content: end;
    height:25%;
    width:100%;
}

.Submit-Comment-Button {
    height:2.5vh;
    width: 10vw;
    border: 1.75px solid rgb(136, 135, 135);
    background-color:rgb(123, 255, 200);
    border-radius: 3px;
    cursor: pointer;
    margin: 1vh 1.5vh 0vh 0vh;
    font-size: 1em;
    font-family: RobotoCondensed-Regular;
}

/* COMMENTS STYLING ----------------------------------------------------------------------------------------------------------------------- */

.Comments{
    height: auto;
    width: 100vw; 
}



.Comment{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 1.5vh;
    height: auto;
    width: 100vw;
}

.Comment-Container{
    /* border-top: 1px solid rgba(151, 151, 151, 0.678); */
    border-bottom: 1px solid rgba(151, 151, 151, 0.678);
    /* background-color: rgb(238, 229, 229); */
    /* border: 1px solid black; */
    padding-bottom: 1.5vh;
    margin-bottom: 0.5vh;
    height: auto;
    width: 50vw;
}

.Comment-Upper{
    background-color:;
    display:flex;
    align-items: center;
    height: 40%;
    width: 100%;
}

.Commenter-Icon{
    
    height: 5.5vh;
    width: 3.5vw;
    margin: 1vh 1vw 1vh 1vw;
    
}

.Commenter-Icon-Img{
    height: 5.5vh;
    width: 3.5vw;
    object-fit: fill;
    border-radius: 50%;
}

.Commenter-Name{
    font-family: RobotoCondensed-Regular;
    font-size: 1.5em;
    height: auto;
    width: auto;
    border-bottom: 1px solid rgba(151, 151, 151, 0.678);
}

.Comment-Date-Time{
    
}

.Drop-Down-Dots-Container{
    margin-left: auto;
    position: relative;
    display: inline-block;
}

.Drop-Down-Dots{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    border-radius: 2px;
    border: none;
}
.Drop-Down-Dots:hover, .Drop-Down-Dots:focus{
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    font-size: 18px;
    border-radius: 2px;
    border: none;
}

.Drop-Down-Dots-Content-Hidden{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Drop-Down-Dots-Content-Show{
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    width: 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Drop-Down-Dot-Edit{
    display: block;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    font-size: 15px;
    border-radius: 2px;
    border: none;

}

.Drop-Down-Dot-Delete{
    display: block;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    font-size: 15px;
    border-radius: 2px;
    border: none;
}

.Comment-Lower{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    width: 100%;
}

.Comment-Text{
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    overflow-wrap: break-word;
    margin-left: 1vw;
    height: auto;
    width: 48vw
}

.Edit-Comment-Form-Upper{
    height:8vh;
    width: 48vw;
}

.Edit-Comment-Lower{

}

.Edit-Comment-Form{

}

.Edit-Comment-Form-Lower{
    display:flex;
    justify-content: flex-end;
    margin-top: 1vh;
}

.Cancel-Edit-Comment-Button{
    margin: 0.5vh 1vw 0vh 0vw;
    height: 2.5vh;
    width: 10vw;
    border: 1.75px solid rgb(136, 135, 135);
    background-color: rgb(251, 98, 98);
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    font-family: RobotoCondensed-Regular;
}

.Submit-Editted-Comment-Button{
    margin: 0.5vh 1.5vw 0vh 0vw;
    height: 2.5vh;
    width: 10vw;
    border: 1.75px solid rgb(136, 135, 135);
    background-color: rgb(123, 255, 200);
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    font-family: RobotoCondensed-Regular;
}

.Edit-Comment-Input{
    height: 100%;
    width: 48vw
}

/* EDIT AREA STYLING */












