.PostItemContainer {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-end;
    height: 350px;
    width: 100%;
    border: 0.5px solid;
    background-color:rgb(243, 242, 242);
    border-color: black;
    justify-self: start;
    
    max-width: 650px;
    max-height: 500px;
    box-shadow: 2.5px 1.5px 6px rgb(57, 55, 55);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.NavLinkText {
    position:relative;
    color: rgb(57, 55, 55);
    background-color: white;
    text-decoration-line: none;
    border-radius: 4px;
    padding: 3px;
    margin: 0% 0% 2% 2%;
    

    
}

.PhotoItem {
    position: absolute;
    background-color: bisque;
    height: 100%;
    width: 100%
}

.ProfilePostContainerTitle{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    border-bottom: solid 2px black;
}

.ProfileInfoDiv{
    display: flex;
    flex-direction: column;

}

.InfoText{
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    border-bottom: solid black 2px;
    padding: 5px 0px 0px 0px;
    margin-bottom: 5px;

}