


<>
    <div className="Post-Banner">
        <div className="Post-Title-Container">
            <div className="Post-Title"></div>
        </div>
    </div>
    <div>
        <img className="Post-Photo">
    </div>
    <div className="Author-Info-Center">
        <img className="Profile-Picture">
        <div className="Auther/Post-Info">
            <div className="Author-Name">

            </div>
            <div className="Likes-Numeric">

            </div>
            <div>
                <button className="Like-Button">

                </button>
                <button className="Comment-Button">

                </button>
            </div>
        </div>
        <div className="See-More">
            <div className="See-More-Button"></div>
        </div>
    </div>
    

<>